@charset "utf-8";
/*
Somethumb v5.7.91
Copyright 2020 Somethumb Company LLC. All rights reserved.
Based on: html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/)
*/
html {
  height: auto
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, main, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  vertical-align: baseline;
  background: transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}
body {
  overflow-wrap: normal;
  word-break: keep-all;
  -webkit-hyphens: initial;
  -ms-hyphens: initial;
  hyphens: initial
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, main, section {
  display: block
}
ul {
  list-style: none
}
blockquote, q {
  quotes: none
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent
}
img {
  max-width: 100%;
  height: auto;
  display: block
}
ins {
  text-decoration: none
}
del {
  text-decoration: line-through
}
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help
}
table {
  border-collapse: collapse;
  border-spacing: 0
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0
}
input, select {
  vertical-align: middle
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none
}
input[type=search] {
  -webkit-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box
}
textarea, select, input, button, input[type="color"], input[type="date"], input[type="datetime-local"], input[type="datetime"], input[type="month"], input[type="week"], input[type="time"], input[type="text"], input[type="password"], input[type="number"], input[type="button"], input[type="submit"], input[type="search"], input[type="tel"], input[type="email"], input[type="file"], input[type="url"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}
input[type=number] {
  font-family: inherit;
  -moz-appearance: textfield
}
input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0
}
button, input[type="button"], input[type="submit"] {
  -webkit-appearance: none;
}
:active {
  -moz-outline-style: none !important;
  outline: none !important
}
:focus {
  -moz-outline-style: none !important;
  outline: none !important
}
::-moz-focus-inner {
  -moz-outline-style: none !important;
  outline: none !important
}
strong, b {
  font-weight: 700
}
i, em {
  font-weight: inherit;
  font-style: italic
}
svg {
  position: relative
}
